*{
    margin: 0;
}
.body {
    height: 100vh;
    flex: 0.8;
    color: white;
    overflow-y: overlay;
    padding:30px;
    background:  linear-gradient( rgb(91, 87, 115), rgba(0,0,0,1));

}
.body::-webkit-scrollbar{
    display: none;
}

.body-info{
    display: flex;
    align-items: flex-end;
}
.body-info img{
    size: 100%;
    margin-right: 10px;
    height: 30vh;
}