*{
    margin: 0;
}
.header {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
}
  
.header-right {
    display: flex;
    align-items: center;
}

#main{
    display: flex;
    flex: 0.5;
    justify-content: flex-start;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    color: gray;
    align-items: center;
}
#main > input {
    border: none;
    width: 100%;
}

.header-right > h4 {
   
    font-size: .8rem
}